useDynLib(FuncDiv)
exportPattern("ˆ[[:alpha:]]+")
importFrom(Rcpp, evalCpp)

export(FuncDiv_abun_alpha_metrics)
export(abun_alpha_div)
export(alpha_div_contrib)
export(beta_div_contrib)
export(contrib_to_multitab)
export(faiths_pd)
export(func_abun_crossproduct)
export(multitab_to_contrib)
