useDynLib(FuncDiv)
import(RcppParallel)
import(RcppXPtrUtils)
import(parallelDist)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, sourceCpp)

export(FuncDiv_alpha_metrics)
export(alpha_div_contrib)
export(beta_div_contrib)
export(compute_alpha_div)
export(contrib_to_multitab)
export(func_abun_crossproduct)
export(multitab_to_contrib)
export(subset_func_and_abun_tables)
